@import '~bootstrap/scss/bootstrap';
// removed trek webpack for now, will reinsert

$background-color: #000;

.modal-fade {
  background-color: $background-color;
  height: 100%;
  opacity: 50%;
  position: absolute;
  top: 0;
  width: 100%;
}

.modal-title {
  text-align: justify;
}
