@import '~bootstrap/scss/bootstrap';
@import '../fonts.finalnew.tff';
@font-face {
  font-family: 'final_frontierregular';
  font-style:
    url('finalnew-webfont.woff2') format('woff2'),
    url('finalnew-webfont.woff') format('woff');
}

.title {
  font-family: 'final_frontierregular', Arial, sans-serif;
}
