@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'final_frontierregular';
  font-style: normal;
  font-weight: normal;
  src: url('/finalnew.tff');
}

$title-color: #c0c0c0;
$background-color: #808080;
$divcolor: rgba($background-color, 0.4);
$col-color: #fff;
$modal-color: #000;

.body {
  background-image: url('assets/pics/stbg.jpg');
  background-size: cover;
}

.container {
  background-color: $divcolor;
  border-style: outset;
  display: block;
  float: center;
  margin: 0 auto;
}

.score-keeper {
  background-image: url('assets/pics/stlogo.jpeg');
  background-size: cover;
  border-color: $divcolor;
  border-style: outset;
  color: $title-color;
  display: block;
  float: left;
  height: 300px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.score-keeper2 {
  background-image: url('assets/pics/picard.jpg');
  background-size: cover;
  border-color: $divcolor;
  border-style: outset;
  color: $title-color;
  display: block;
  float: right;
  height: 300px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.row {
  justify-content: center;
}

.col {
  border-style: outset;
  display: inline-block;
  font-size: 100px;
  height: 130px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  text-overflow: inherit;
  width: 130px;
}

.title {
  color: $title-color;
  font-family: 'final_frontierregular', serif;
  text-align: center;
}

.btn-down {
  display: block;
  float: none;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.form-button {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.modal-fade {
  display: none;
  height: 100%;
  justify-content: center;
  opacity: 50%;
  position: absolute;
  top: 0;
  width: 100%;
}

.close {
  position: relative;
  right: 14px;
}

.modal-title {
  text-align: justify;
}

.modal-content {
  background-image: url('assets/pics/metalbg.jpg');
}
